.zone_tab {
    display: flex;
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);

    .tab_name {
        width: 17%;
        padding-left: 10px;
    }

    .tab_descrip {
        width: 22%;
        margin-left: 0.5%;
    }

    .tab_create-date {
        width: 15%;
        margin-left: 0.5%;
    }

    .tab_edit-date {
        width: 20%;
    }

    .tab_status {
        width: 15%;
    }

    .tab_button {
        position: relative;
        display: flex;
        width: 3%;
        height: 20px;
        justify-content: center;

        .button {
            display: flex;
            width: 20px;
            padding: 0 5px;
            height: 100%;
            // border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.1);
            justify-content: center;
            align-items: center;

            .button_circle {
                width: 4px;
                height: 4px;
                border-radius: 50px;
                background-color: rgba(0, 0, 0, 0.3);
                margin: 0 1px;
            }
        }

        .button:hover {
            cursor: pointer;
        }
    }
}