.payment_tab {
    display: flex;
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);

    .tab_id {
        width: 5%;
        text-align: center;
    }

    .tab_transfer {
        width: 15%;
    }

    .tab_receive {
        width: 15%;
    }

    .tab_level {
        width: 10%;
    }

    .tab_time {
        width: 15%;
    }

    .tab_content {
        width: 20%;
    }

    .tab_collection {
        width: 15%;
    }
}