.payment_tab {
    display: flex;
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);

    .tab_id {
        width: 5%;
        text-align: center;
    }

    .tab_transfer {
        width: 14%;
    }

    .tab_receive {
        width: 12%;
    }

    .tab_level {
        width: 8%;
        text-align: end;
        margin-right: 50px;
    }

    .tab_time {
        width: 12%;
    }

    .tab_content {
        width: 25%;
    }

    .tab_collection {
        width: 16%;
    }
}