.custom_option_dropdown {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    top: 20px;
    right: 100%;
    z-index: 999;

    .option {
        height: fit-content;
        padding: 5px 10px;

        .name {
            width: max-content;
            padding: 5px;
        }
    }

    .option:hover {
        cursor: pointer;
        background-color: var(--grey-background);
    }
}

.layout{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 998;
}
